.body {
    font-family: FreeMono, monospace;
    margin: 0;
}

.flex {
    display: flex;
}


.up_left {
    width: 280px;
    background-color: #434b4f;
    color: red;
}

.third {
    margin-left: 100px;
}

.cv-avatar {
    width: 185px;
    height: 190px;
    margin: 12px 0 0 36px;
    border-radius: 50%;
    border: 8px solid #0DBBD6;
}

.name {
    margin: 0 auto;
}

.down_left {
    width: 280px;
    background-color: #434b4f;
    color: white;
}

.footer {
    color: white;
    width: 100%;
    bottom: 0;
    height: 69px;
    text-align: center;
    background-color: #434b4f;
}

.skill_3 {
    color: white;
    margin-left: 20px;
}

.hobbies {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.hobbie {
    margin: 0 50px;
    display: flex;
    flex-direction: column;
}

.hobbie img {
    align-self: center;
}

.skille {
    list-style: none;
}

.check_1 li {
    list-style: none;
}